<main class="SignInOrUp">
  <div class="SignInOrUp__container">
    <h2 class="SignInOrUp__heading">Log in</h2>

    <ul class="SignInOrUp__oauthProviders">
      <li class="item">
        <%= link_to fa_icon('github-alt'), '/auth/github', class: 'link github' %>
      </li>
      <li class="item">
        <%= link_to fa_icon('twitter'), '/auth/twitter', class: 'link twitter' %>
      </li>
      <li class="item">
        <%= link_to fa_icon('facebook'), '/auth/facebook', class: 'link facebook' %>
      </li>
    </ul>

    <p class="SignInOrUp__separator">OR</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'SignInOrUp__form' }) do |f| %>
      <div class="SignInOrUp__field">
        <%= f.email_field :email, autofocus: true, placeholder: 'email or username', class: 'SignInOrUp__textField' %>
      </div>

      <div class="SignInOrUp__field">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'password', class: 'SignInOrUp__textField' %>
      </div>

      <div class="SignInOrUp__field">
        <%= f.submit "Log in", class: 'SignInOrUp__submit' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="SignInOrUp__field">
          <%= f.check_box :remember_me, class: 'SignInOrUp__checkbox' %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    <% end %>

    <%= render "accounts/shared/links" %>
  </div>
</main>
