<main class="SignInOrUp">
  <div class="SignInOrUp__container">
    <h2 class="SignInOrUp__heading">Log in</h2>

    <%= render "accounts/shared/auth_links" %>

    <p class="SignInOrUp__separator">OR</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'SignInOrUp__form' }) do |f| %>
      <div class="SignInOrUp__field">
        <%= f.email_field :email, placeholder: 'email or username', class: 'SignInOrUp__textField' %>
      </div>

      <div class="SignInOrUp__field">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'password', class: 'SignInOrUp__textField' %>
      </div>

      <div class="SignInOrUp__field">
        <%= f.submit "Log in", class: 'SignInOrUp__submit' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="SignInOrUp__field">
          <%= f.check_box :remember_me, class: 'SignInOrUp__checkbox' %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    <% end %>

  </div>
  <%= render "accounts/shared/links" %>
</main>
