<main class="SignInOrUp">
  <div class="SignInOrUp__container">
    <h2 class="SignInOrUp__heading">Sign up</h2>

    <%= render "accounts/shared/auth_links" %>

    <p class="SignInOrUp__separator">OR</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'SignInOrUp__form' }) do |f| %>
      <%= devise_error_messages! %>

      <div class="SignInOrUp__field">
        <%= f.text_field :login_name, placeholder: 'username', class: 'SignInOrUp__textField' %>
      </div>

      <div class="SignInOrUp__field">
        <%= f.email_field :email, placeholder: 'email', class: 'SignInOrUp__textField' %>
      </div>

      <div class="SignInOrUp__field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "password (#{@minimum_password_length} characters minimum)", class: 'SignInOrUp__textField' %>
      </div>

      <div class="SignInOrUp__field">
        <%= f.password_field :password_confirmation, placeholder: 'password confirmation', autocomplete: "off", class: 'SignInOrUp__textField' %>
      </div>

      <div class="SignInOrUp__field">
        <%= f.submit "Sign up", class: 'SignInOrUp__submit' %>
      </div>
    <% end %>

  </div>
  <%= render "accounts/shared/links" %>
</main>
