<p id="notice"><%= notice %></p>

<h2>
  <%= @organization.login_name %>
</h2>

<h3>members</h3>

<ul>
  <% @organization.users.each do |user| %>
    <li><%= "#{user.login_name} (#{user.name})" %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
