<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <% if account_signed_in? %>
      <%- access_token = current_user.last_authorized_admin_app_token %>
      <meta name="access-token" content="<%= access_token.token %>" >
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if account_signed_in? %>
      <div class="App">
        <%= render 'shared/header' %>
        <main class="App__container">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
